@import "tailwindcss";


.nav-link {
  @apply text-graphite hover:text-mutedCharcoal px-3 py-2 rounded-md font-medium transition;
}

.btn-outline {
  @apply border border-mutedCharcoal text-graphite px-3 py-1 rounded-md font-medium hover:bg-mutedCharcoal/10 transition;
}

.btn-primary {
  @apply bg-graphite text-frostWhite px-3 py-1 rounded-md font-medium hover:bg-mutedCharcoal transition;
}

.mobile-link {
  @apply flex items-center space-x-2 text-graphite hover:text-mutedCharcoal px-3 py-2 rounded-md transition;
}

@keyframes slide-down {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out forwards;
}

.footer-link {
  @apply text-graphite hover:text-mutedCharcoal transition-colors duration-200;
}

.social-icon {
  @apply text-mutedCharcoal hover:text-graphite transition-colors duration-200;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

