@import "tailwindcss";


.nav-link {
  @apply text-[#4b4b4b] hover:text-[#423C3C] px-3 py-2 rounded-md font-medium transition;
}

.btn-outline {
  @apply border border-[#423C3C] text-[#4b4b4b] px-3 py-1 rounded-md font-medium hover:bg-[#423C3C]/10 transition;
}

.btn-primary {
  @apply bg-[#4b4b4b] text-[#F7FAFF] px-3 py-1 rounded-md font-medium hover:bg-[#423C3C] transition;
}

.mobile-link {
  @apply flex items-center space-x-2 text-[#4b4b4b] hover:text-[#423C3C] px-3 py-2 rounded-md transition;
}

@keyframes slide-down {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out forwards;
}

.footer-link {
  @apply text-[#4b4b4b] hover:text-[#423C3C] transition-colors duration-200;
}

.social-icon {
  @apply text-[#423C3C] hover:text-[#4b4b4b] transition-colors duration-200;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

